@import '@/styles/constants';

.icon {
  position: absolute;
  left: 16px;
  top: 11px;
}

.inputWrapper {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}

.inputWrapperError {
  & .input {
    color: $alertRed;
    border-color: $alertRed;
    margin-top: 5px;

    &::placeholder {
      color: $alertRed;
    }
  }

  & .inputError {
    color: $alertRed;
    font-size: 12px;
    margin-top: 5px;
  }
}

.input {
  width: 100%;
  font-size: 16px;
  padding: 15px 10px;
  border: 1px solid #959595;
  border-radius: 4px;
}

.inputBox {
  display: flex;
  justify-content: flex-end;
  column-gap: 5px;
}
